@{
    ViewBag.Title = "About";
}

<body>
    <header class="main-header">
        <div class="container clearfix">
            <h1 class="name">@Html.ActionLink("Hite Flooring Co", "Index")</h1>
            <ul class="main-nav">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("Commercial/Residential", "CommercialResidential")</li>
                <li>@Html.ActionLink("Schedule Today", "Schedule")</li>
            </ul>
        </div>
    </header>
</body>

