@{
    ViewBag.Title = "Commercial";
}

<body>
    <header class="main-header">
        <div class="container clearfix">
            <h1 class="name">@Html.ActionLink("Hite Flooring Co", "Index")</h1>
            <ul class="main-nav">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("About Us", "About")</li>
                <li>@Html.ActionLink("Residential Flooring", "Residential")</li>
            </ul>
        </div>
    </header>
</body>

