@{
    ViewBag.Title = "Schedule";
}

<body>
    <header class="main-header">
        <div class="container clearfix">
            <h1 class="name">@Html.ActionLink("Hite Flooring Co", "Index")</h1>
            <ul class="main-nav">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("About Us", "About")</li>
                <li>@Html.ActionLink("Commercial/Residential", "CommercialResidential")</li>
            </ul>
        </div>
    </header>
    <div class="formparent">
        <form class="form">
            Name:<br>
            <input type="text" name="name" class="text">
            <br>
            Contact Number:<br>
            <input type="text" name="contactNumber" class="text">
            <br>
            Job:<br>
            <input type="text" name="job" class="text">
            <br>
            <button class="button">Submit</button>
        </form>
    </div>
</body>

